{
  "env": {
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "modules": true,
    "templateStrings": true,
    "classes": true
  },
  "rules": {
    "semi": [2, "never"]
  }
}
